.titleWindow {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/cat.png");
  /* background-repeat: no-repeat; */
}
.gray{
  background-color: hsl(0, 0%, 45%);
  color: var(--gray-100);
  font-size: 1.25em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: inherit;
}
.titleWindow_shadow {
  background-image: linear-gradient(
    0turn,
    rgba(22, 22, 22, 1) 0%,
    rgba(0, 0, 0, 0) 53%
  );
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  /* padding-right: 50%; */
  justify-content: space-between;
}
.logo_img {
  width: 130px;
  height: 130px;
}
.logo_title {
  font-size: 20px;
  color: #fff;
}
.titleWindow_description {
  font-size: 21px;
  color: #fff;
}
.newSkills_skill {
  border-bottom: 3px solid #fff;
  margin: 8px 0;
  padding-bottom: 10px;
}
.titleWindow_middle {
  display: flex;
  flex-direction: row;
  margin: 50px auto 0 auto;
  justify-content: space-between;
}
.order_el {
  padding: 0 50px;
}
.order_form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  transition: color ease 0.3s, background-color ease 0.3s;
}
.titleWindow_footer {
  display: flex;
  justify-content: space-evenly;
}
.award_title {
  font-size: 24px;
  color: #fff;
}
.award_text {
  font-size: 18px;
  color: #fff;
  opacity: 70%;
}
.inputForm {
  color: var(--gray-150);
  background-color: var(--gray-900);
  border-radius: 0.5em;
  padding: 0.5em;
  transition: inherit;
}
.inputForm:is(:hover, :focus-within) {
  color: var(--gray-250);
  background-color: var(--gray-800);
}
.h3Form {
  color: var(--gray-50);
  font-weight: 800;
}
.btnForm {
  color: var(--gray-100);
  font-size: 1.25em;
  font-weight: 500;
  background-color: #f17222;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: inherit;
}
.btnForm:hover {
  color: var(--gray-50);
  background-color: #ef7d36;
}
.logo_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  margin: 0 15px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul {
  display: flex;
}
@media (max-width: 430px) {
  .logo {
    flex-direction: row;
  }
  .titleWindow_middle {
    flex-direction: column;
    margin: 10px 0;
  }
  .order_el {
    padding: 0;
  }
  .order_form {
    padding: 25px;
  }
  .navbar {
    padding-bottom: 5px;
    padding-top: 20px;
  }
  .logo_img {
    width: 80px;
    height: 80px;
  }
  .logo_title {
    font-size: 16px;
    color: #fff;
  }
  .titleWindow_description {
    font-size: 16px;
  }
  .newSkills_skill {
    border-bottom: 1px solid #fff;
    margin: 5px 0;
    padding-bottom: 5px;
  }
  .h3Form {
    color: var(--gray-50);
    font-weight: 600;
    font-size: 1em;
  }
  .titleWindow_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
