.authors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 700px;
  margin: 40px 0;
}
.authors_content {
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 600px;
  width: 100%;
}
.author {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  gap: 10px;
}
.author_name {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.author_post {
  text-align: left;
  font-size: 20px;
  color: #fff;
  opacity: 70%;
}
.author_description {
  text-align: left;
  font-size: 16px;
  color: #fff;
  opacity: 60%;
}
.authors_content::-webkit-scrollbar-thumb {
  background-color: #000;
}
.authors_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #c5c5c5;
}
.authors_content::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
}

.authors_content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5a5a5a;
}

.authors_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #181818;
}
.authors_title {
  font-size: 1.5em;
  color: #fff;
}
@media (max-width: 430px) {
  .authors_title {
    font-size: 1.5em;
    color: #fff;
  }
  .author {
    margin: 20px 30px;
  }
}
